.logo-left-top{
    padding-top: 5;
    padding-left: 5;
    padding-bottom: 5;
    position: absolute;
    left: 1 ; top :1;
}
.store{
    margin : 0;
    text-align: right;
    width : 50%;
    position: absolute;
    right:4px;top : 1;
}
.head{
    background-image: url("bgBoba.jpeg");
    background-size: cover;
    height: 560px;
    padding-bottom:5px;
    background-color: grey;
    margin-bottom:1;
}
.title{
    position: static;
    top: 250px;
    margin : 250px;
    margin-top:180px;
}
#demo{
    padding:5;
    padding-top:30;
    padding-right:0;
}

.menus{
    text-align: center;
    padding:20px;
    padding-top:50px;
}

#about{
    margin-top: 40px;
}
a{
    color:black !important;
    scroll-behavior: smooth !important;
    font-size: medium;
}
.maps{
    position: relative;

    margin:20px;
}
iframe .rot{
    padding: 15px;
}
body{
    background-color: #ffd8a6;
}
#demo{
    margin-left:30;
}
button{
    background-color: #fc8210;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3;
}
